<div class="howitworks__background">
    <div class="container howitworks">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="pricing__title" id="howitworks">How it works</h2>
            </div>
        </div>
        <div class="row">
            <ul class="col-10 offset-1 howitworks__steps">
                <li class="howitworks__step">
                    <strong>Dedicated infrastructure.</strong>
                    You get a completely dedicated browser automation infrastructure in a public cloud platform.
                    You can use all popular browser automation frameworks: <a href="https://selenium.dev/" title="Selenium" target="_blank">Selenium</a>, <a href="https://playwright.dev/" title="Playwright" target="_blank">Playwright</a>, <a href="https://pptr.dev/" title="Puppeteer" target="_blank">Puppeteer</a> and <a href="https://cypress.io/" title="Cypress" target="_blank">Cypress</a> simultaneously.
                    We always run this infrastructure in the geographic region near you, so network connectivity is lightning fast.
                    <div class="howitworks__illustration howitworks__illustration__overview"></div>
                </li>
                <li class="howitworks__step">
                    <strong>Cost-efficient.</strong>
                    Moon Cloud grows and shrinks depending on how many browsers you need. This allows to dramatically decrease computing resources consumption. You only pay for computing resources you really consume.
                </li>
                <li class="howitworks__step">
                    <strong>Transparent billing.</strong>
                    At the beginning of each month you pay cloud platform bill for the previous month plus our <strong>commission of 25% of the cloud bill</strong> for cluster maintenance. We give access to the billing console of the cloud project, so controlling your expenses is straightforward. Additionally, we can configure billing alerts that prevent you from accidentally spending too much money.
                </li>
                <li class="howitworks__step">
                    <strong>Free support.</strong>
                    Moon Cloud comes with a free dedicated support channel in <a href="https://telegram.org/" title="Telegram" target="_blank">Telegram</a> or <a href="https://slack.com/" title="Slack" target="_blank">Slack</a> messenger.</li>
                <li class="howitworks__step">
                    <strong>Reliable architecture.</strong>
                    For every customer we create a <strong>dedicated cloud project</strong>. Moon Cloud is based on a generally available <strong><a href="https://aerokube.com/moon/" title="Moon" target="_blank">Moon</a></strong> release running in <strong><a href="https://kubernetes.io/" title="Kubernetes" target="_blank">Kubernetes</a></strong> cluster.
                    <div class="howitworks__illustration howitworks__illustration__internals"></div>
                    Our clusters are always running in two different datacenters (availability zones), so they are <strong>highly reliable</strong>. To have a single domain name for accessing Moon Cloud, we are using <strong>highly-available</strong> load balancer provided by the cloud platform. All network traffic goes through a dedicated NAT with the permanent IP address. Connection to the cluster is <strong>encrypted</strong> and <strong>password-protected</strong>.</li>
                <li class="howitworks__step">
                    <strong>Flexible networking.</strong>
                    Moon Cloud relies on cloud platform networking features and can access your workstation, corporate network server or another cloud project.
                    <div class="howitworks__illustration howitworks__illustration__private_network"></div>
                    Upon your request we can configure Moon Cloud to be <strong>completely isolated</strong> from the Internet and configure private network connectivity to your infrastructure. Depending on your infrastructure we can use technologies like <strong>VPC peering</strong>, <strong>private network endpoints</strong>, <strong>VPN</strong>, <strong>transit gateways</strong> an so on.
                </li>
            </ul>
        </div>
    </div>
</div>
